@tailwind base;
@tailwind components;
@tailwind utilities;



.header {
    background-image: linear-gradient(to bottom, transparent 75%, #FFFFFF 99.99%), url('../pages/images/casa_home.jpg');
    background-size: cover;
  }
  

#login{
    background-image: url('../pages/images/casa_home.jpg'),
    linear-gradient(transparent 0%, #00000053 0%);
    background-size: cover;
}


#green {
    background: #e1e1ab;
}

#black {
    background: #a8a86f;
}

#uwu {
    background-image:
        linear-gradient(transparent 0%, #00000053 0%),
        url('../pages/images/casa4.jpg');
    background-size: cover;
}

#ala {
    background-image:
        linear-gradient(transparent 0%, #00000053 0%),
        url('../pages/images/casa5.png');

}



.m_1 {
    margin: -.5rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

.nav {
    --tw-backdrop-blur: blur(4px);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

